.logo-utp-color{

    margin-left: auto;
    margin-right: auto;
    
    width: 10%;
    height: 10%;
  
}

.encabezado{
    text-align: center;
}

form
{
    display: inline-block;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
   
}

.boton{
padding-left: 45%;
}